{% extends "base.html" %}
{% block title %}Submit Feedback{% endblock %}

{% block content %}
<body>
  <form method='POST'>
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="float-start feedback-heading">Feedback Forum</h1>
        </div>
      </div>
      <div class="row mt-2 text-black">
        <div class="col">
          <div class="fw-bold"><h4>Username: {{user_name}}</h4></div>
          <div class="fw-bold"><h4>Feedback:</h4></div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <textarea class="form-control" id="feedbackText" name="feedbackText" rows="5" placeholder="Type your feedback here..."></textarea>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-end">
          <button id="submitfeedback" type="submit" class="btn btn-primary">Submit Feedback</button>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash-message" class="alert alert-info alert-dismissible fade show" role="alert">
        {% for message in messages %}
          {{ message }}
          <br>
        {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    {% endwith %}
  </form>
  
  <script>
    // Set timeout to remove flash message after 5 seconds
    setTimeout(function(){
      var flashMessage = document.getElementById('flash-message');
      if (flashMessage) {
        flashMessage.remove();
      }
    }, 5000); // Adjust time as needed (5000 milliseconds = 5 seconds)
  </script>
</body>
{% endblock %}