{% extends "base.html" %}
{% block title %}Images Generation{% endblock %}

{% block content %}


<style>
    #prompt {
        width: 80%;
        height: 40px;
        margin: auto; /* Center the text area horizontally */
        display: block; /* Ensure the text area takes up the full width */
    }

    h2 {
            text-align: center; /* Center the heading horizontally */
        }

    #generateButton {
        display: block; /* Ensure the button takes up the full width */
        margin: auto; /* Center the button horizontally */
    }

    #image-gen {
        display: block; /* Ensure the button takes up the full width */
        margin: auto; /* Center the button horizontally */
    }
    /* Popup container */
    .popup-container {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    /* Popup box */
    .popup-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        text-align: center;
    }

    /* Button styles */
    .btn {
        padding: 10px 20px;
        margin: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>



<body>
    <h2>Enter Text</h2>
    <form id="generateImages" method="post" action="/imagesGeneration">
        <textarea id="prompt" name="prompt"  placeholder="Enter Your Prompt for Image Generation">{{prompt}}</textarea>
        <br>
        <button type="submit" class="generate-button" id="generateButton">Generate Images</button>
    </form>
    <div id="popup-container" class="popup-container">
        <div class="popup-box">
            <p id="message">Membership not premium. Please subscribe to use this feature.</p>
            <button class="btn" onclick="subscribe()">Subscribe</button>
            <button class="btn" onclick="closePopup()">No</button>
        </div>
    </div>
    {% for image in images %}
    <img class="image-gen" src = "{{image}} " alt ="OpenAI Image Generation">
    {% endfor %}
</body>

<script>
    window.onload = function() {
        var message = "{{ message }}";
        if (message !== "") {
            showPopup();
        }
    };

    function showPopup() {
        var popup = document.getElementById("popup-container");
        popup.style.display = "block";
    }

    function closePopup() {
        var popup = document.getElementById("popup-container");
        popup.style.display = "none";
    }

    function subscribe() {
            window.location.href = '/membersubscription';
    }

</script>

{% endblock %}