{% extends "base.html" %}
{% block title %}Images Generation{% endblock %}

{% block content %}


<style>
    #prompt {
        width: 80%;
        height: 40px;
        margin: auto; /* Center the text area horizontally */
        display: block; /* Ensure the text area takes up the full width */
    }

    h2 {
            text-align: center; /* Center the heading horizontally */
        }

    #generateButton {
        display: block; /* Ensure the button takes up the full width */
        margin: auto; /* Center the button horizontally */
    }
    
    #image-gen {
        display: block; /* Ensure the button takes up the full width */
        margin: auto; /* Center the button horizontally */
    }
</style>



<body>
    <h2>Enter Text</h2>
    <form id="generateImages" method="post" action="/imagesGeneration">
        <textarea id="prompt" name="prompt"  placeholder="Enter Your Prompt for Image Generation">{{prompt}}</textarea>
        <br>
        <button type="submit" class="generate-button" id="generateButton">Generate Images</button>
    </form>
    {% for image in images %}
    <img class="image-gen" src = "{{image}} " alt ="OpenAI Image Generation">
    {% endfor %}
</body>

{% endblock %}