{% extends "base.html" %}
{% block title %}Upload{% endblock %}

{% block content %}

<body>
    <p>
    <h1 align="center">Upload an image</h1>
    </p>
    <div class="container">
        <div class="row" style="height: 500px; overflow-y: auto;">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            </p>
            <div>
                {% if filename %}
                    <img src="{{ url_for('boundary.display_image', filename=filename) }}" id="uploaded_image">
                {% endif %}
            </div>
            <form method="post" action="/uploadImage" enctype="multipart/form-data">
                <dl>
                    <p>
                        <input type="file" name="file" class="form-control" autocomplete="off" required>
                    </p>
                </dl>
                <p>
                    <input type="submit" value="Submit" class="btn btn-info">
                </p>
                <!-- Readonly textbox for image ID -->
                <p>
                    Image ID: <input type="text" name="image_id" value="{{ image_id }}" readonly>
                </p>
            </form>

            <!-- Button to generate text -->
            <form method="post" action="/generateText">
                <input type="hidden" name="image_id" value="{{ image_id }}">
                <p>
                    <button type="submit" class="btn btn-info">Generate Text</button>
                </p>
            </form>
        
            <!-- Button to select images -->
            <form method="post" action="/autoSelectImages">
                <input type="hidden" name="image_id" value="{{ image_id }}">
                <p>
                    <button type="submit" class="btn btn-info">Story Telling</button>
                </p>
            </form>

            <!-- Button to generate audio -->
            <form action="/generateaudio" method="POST">
                <input type="hidden" name="text" value="{{ prediction_result }}">
                <button type="submit" class="btn btn-info">Generate Audio</button>
                <br>
                <audio controls>
                    <source src="{{ url_for('static', filename='audio.mp3') }}" type="audio/mp3">
                    Your browser does not support the audio element.
                </audio>
            </form>
            <!-- Display generated text with scrolling -->
            <div>
                <h3>Output</h3>
                <textarea id="outputTextarea" name="prediction_result" rows="10" cols="50" value="{{prediction_result}}"
                    readonly>{{prediction_result}}</textarea>
            </div>
        </div>
    </div>
</body>

{% endblock %}
