
{% extends "base.html" %}
{% block title %}Membership Tier Information{% endblock %}

{% block content %}
<style>
    .container {
        width: 65%; 
        background-color: #ffffff; 
        padding: 25px;
        border-radius: 15px;
        text-align: center;
        margin-left: 0;    
    }
</style>
<head>
    <title>Membership Tier Information</title>
</head>
<h1>Membership Tier Information</h1>

<div class="container">
    <body>
        <p><strong>Membership Tier:</strong> {{ membership_tier.membership_tier }}</p>
        <p><strong>Monthly Subscription:</strong> {{ membership_tier.monthly_fee }}</p>
        <p><strong>Description:</strong> {{ membership_tier.description }}</p>
        <form action="/cancel-membership" method="post">
            <input type="submit" value="Cancel Membership">
        </form>
    </body>
</div>

{% endblock %}
