gunicorn==22.0.0
gevent==24.2.1
Flask==3.0.3
Flask_MySQLdb==2.0.0
matplotlib==3.8.2
mysql_connector_repackaged==0.3.1
numpy==1.24.1
opencv_python==4.9.0.80
Pillow==10.3.0
gTTS==2.5.1
pygame==2.5.2
pytz==2022.7.1
stripe==8.7.0
torch==2.2.2
transformers==4.39.3
Werkzeug==3.0.2
